.contato {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 80px;
    border: 3px solid #C4261D;
}

.contato h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00863A;
}

.contato p {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contato-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.info h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.endereco {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.endereco h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .contato-info {
        grid-template-columns: 1fr; 
    }

    .contato h2 {
        font-size: 1.8rem;
    }

    .info h3 {
        font-size: 1.1rem;
    }

    .info a {
        font-size: 0.9rem;
    }

    .endereco h3 {
        font-size: 1.2rem;
    }

    .endereco p {
        font-size: 1rem;
    }
}
